[submodule "website-comment-system"]
	path = website-comment-system
	url = https://github.com/hugonikanor/website-comment-system.git
[submodule "Parsedown"]
	path = Parsedown
	url = https://github.com/erusev/parsedown.git
