[submodule "website-comment-system"]
	path = website-comment-system
	url = https://github.com/hugonikanor/website-comment-system.git
[submodule "parsedown"]
	path = parsedown
	url = https://github.com/erusev/parsedown.git
