html {
	background-color: #f0f0f0;
}
#all {
	max-width: 800px;
	border: 1px solid grey;
	padding: 5px;
	background-color: #f7f7f7;
	font-size: 15px;
	margin: auto;
	overflow: hidden;
}
#top-bar {
	font-family: monospace;
	text-align: center;
}
#top-bar h1 {
	font-size: 40px;
}
#nav-pane {
	background-color: lightgrey;
	text-align: center;
	margin: auto;
	font-size: 17px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	padding: 4px;
}
#nav-pane a {
	text-decoration: none;
	color: black;
	padding-right: 30px;
	padding-left: 30px;
}
#nav-pane a:hover {
	text-decoration: underline;
}
#content {
	padding-left: 20px;
	padding-right: 20px;
	font-family: arial;
	word-spacing: 1px;
}
/* Scary text if the file is missing */
#content .missingFileHeader {
	font-size: 3em;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	color: red;
}
#content .missingFileText {
	text-align: center;
	font-size: 1.2em;
}
/* The following are to allow the date to be displayed correctly */
#content .wrapper {
	overflow: hidden;
}
#content #entryHeader {
	float: left;
}
#content #entryHeader h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}
#content #dateTag {
	overflow: hidden;
	text-align: right;

	color: #606060;
	font-size: 13px;
}
/* Begin actual formating of text */
#content p {
	line-height: 130%;
	margin-bottom: 20px;
}
#content code {
	background-color: #e7e7e7;
	border: 1px solid grey;
	font-size: 14px;
	padding: 2Px;
	word-spacing: 0px;
}
#content pre {
	background-color: #e7e7e7;
	overflow: auto;
	border: 1px solid grey;
	font-size: 14px;
	padding: 16px;
}
#content pre code {
	border: none;
	padding: 10px 0;
	background-color: transparent;
}
#content img {
	border: 1px solid grey;
	max-width: 100%;
	/*max-height: auto;*/
}
#content blockquote {
	border-left: 2px solid lightgrey;
	padding-left: 0.5em;
	color: #606060;
	margin-left: 1em;
}
#content #list table, th, td {
	padding: 5px;
}
#content #list table {
	/* width: 50%; */
	margin: auto;
}
#content #list th {
	text-decoration: underline;
	font-size: 125%;
	padding: 5px 0;
}
#content #list td {
	width: 50%;
	max-width: 50%;
	word-wrap: break-word;
}
#content #list .tableLeft {
	text-align: left;
}
#content #list .tableRight {
	text-align: right;
}
#content #list th.tableLeft {
	padding-left: 1em;
}
#content #list th.tableRight {
	padding-right: 1em;
}
#comment {
	padding: 20px;
	font-family: arial;
	word-spacing: 1px;
	max-height: 1000px;
	overflow-y: auto;
}
#footnote {
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	text-align: center;
}
#footnote a {
	color: #909090;
	text-decoration:none;
	padding-right: 20px;
	padding-left: 20px;
}
#footnote a::hover {
	color: #404040;
}
