html {
	background-color: #f0f0f0;
}
#all {
	max-width: 800px;
	border: 1px solid grey;
	padding: 5px;
	background-color: #f7f7f7;
	font-size: 15px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
#all .rss-logo {
	position: absolute;
	right: 5px;
}
#top-bar {
	font-family: monospace;
	text-align: center;
}
#top-bar h1 {
	font-size: 40px;
}
#nav-pane {
	background-color: lightgrey;
	text-align: center;
	margin: auto;
	font-size: 17px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	padding: 4px;
}
#nav-pane a {
	text-decoration: none;
	color: black;
	padding-right: 30px;
	padding-left: 30px;
}
#nav-pane a:hover {
	text-decoration: underline;
}
#nav-pane .disabled {
	pointer-events: none;
	cursor: default;
	color: grey;
}
#content .date {
	float: right;
	color: grey;
	font-size: 80%;
}
#comments {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}
#footnote {
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	text-align: center;
}
#footnote a {
	color: #909090;
	text-decoration:none;
	padding-right: 20px;
	padding-left: 20px;
}
#footnote a::hover {
	color: #404040;
}
